h3 {
    margin-top: 0;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(228,228,228);
}

ul > li:nth-child(1) {
    color: rgb(138, 138, 119);
}

.start-imgs {
    display: flex;
    align-items: center;
    gap: 4vh;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 10vw;
    margin-top: 1.5em;
}

p {
    color: rgb(180,180,180);
    padding: 0;
    margin: 1.5vh 0;
}

ul > li, blockquote {
    color: rgb(130,130,130);
}

h1, h2 {
    color: lightgoldenrodyellow;
}

.q-list {
    color: rgb(170, 170, 170);
}

.intro {
    display: flex;
    justify-content: space-around;
    margin-right: 12.5em;
}
.start-imgs > img {
    height: 28vh;
    width: 25vw;
}

.history {
    margin-top: 3em !important;
    margin: 0 5em;
}

.find-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-div > h1 {
    margin-bottom: 1.5em;
}

.inner-find {
    display: flex;
    gap: 2em;
}

.inner-find > img {
    width: 40em;
    height: 25em;
    margin-bottom: 5em;
}

.find-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8em;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
body {
    background-image: linear-gradient(to bottom right, rgb(20,20,20), rgb(55,55,55))
}

h3 {
    color: rgb(0, 0, 0)
}

.start-imgs > img, .inner-find > img {
    border: 3px solid rgb(217, 217, 217);
    border-radius: 3%;
}

a > img{
    width: 5em;
    height: 5em;       
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 93vw;
}

a > p {
    position: fixed;
    top: 4em;
}

.planet-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}