.important {
    color: rgb(255, 254, 213);
    border-style: dotted;
    
} 

.semiImportant {
    color: rgb(44, 36, 185);

}

p {
    padding: 0;
    margin-top: 1.5vh;
    
}

h1{
    height: 100 px;
}

@keyframes colorChange {
    0% {
        background-color: red;

    }

    25% {
        background-color: rgb(249, 11, 213);

    }

    50% {
        background-color: blue;

    }

    75% {
        background-color: green;

    }

    100% {
        background-color: red;
    }
}

body {
    position: relative;
    animation-name: colorChange;
    animation-duration: 4s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
}

@keyframes images {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 90deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 360deg;
    }
}

img {
    animation-name: images;
    animation-duration: 8s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    width: 300px;
    border: 5px solid #efeded;
    /* position: absolute; */
    left: 50px;
    border-radius: 10%;
}

.info {
    height: fit-content + 300px;
    padding-right: 50px;
    padding-left: 50px;
    background-position-x: 70%;
    background-color: rgb(115, 120, 112);
    border-radius: 10px;

}

#pictures {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-around;
}

@media (max-width: 600px) {
    #layout {
        display: flex;
        flex-direction: column;
    }
}

ul :first-child,ol :first-child{
    color:aquamarine;
}

/* only layout for larger than 800px screens */
@media (min-width: 800px) {
    #layout {
        display: flex;
        flex-direction: row;
    }
}

#saved{
    transform-style: preserve-3d;
    translate: 10%,10%,40%;
    perspective: 100px;
    perspective-origin: 0,100;
}